::-webkit-scrollbar {
    height: 12px;
    width: 7px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--second-color);
    -webkit-border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

main {
	width: 90%;
	height: 100%;
	margin: auto;
}

div.row {
	min-height: 50%;
	width: 100%;
	border-bottom: 1px solid var(--second-color);
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;
}

div.split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.split img {
	width: 256px;
	height: 256px;
	object-fit: cover;
}