div.navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding: 5px;
	height: 80%;
	width: 5em;
	box-sizing: border-box;
	float: left;
}

div.navbar div.navbar-item {
	position: relative;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
	border-radius: 5px;
	transition: .2s;
	cursor: pointer;
}

div.navbar div.navbar-item svg {
	width: 36px;
	height: 36px;
	stroke: #e58787;
	transition: .2s;
	stroke-width: 1.5px;
}

div.navbar div.navbar-item div.navbar-border {
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	position: absolute;
	height: 80%;
	width: 3px;
	background: #e58787;
	transition: .2s;
	text-align: center;
}

div.navbar div.navbar-item.current div.navbar-border {
	width: 100%;
	opacity: .1;
	border-radius: 3px;
}

div.navbar div.navbar-item div.navbar-border span {
	font-size: 0;
	font-weight: 600;
	color: var(--second-color);
	transition: .2s;
}

div.navbar div.navbar-item:not(.current):hover > div.navbar-border {
	width: 100%;
	border-radius: 3px;
}


div.navbar div.navbar-item:not(.current):hover > div.navbar-border span {
	font-size: 12px;
}

div.navbar div.navbar-item:not(.current) div.navbar-border:active {
	transform: scale(.95);
}


div.navbar div.navbar-item.blue svg {
	stroke: #87bfe5
}

div.navbar div.navbar-item.blue div.navbar-border {
	background: #87bfe5;
}

div.navbar div.navbar-item.green svg {
	stroke: #87e5a0;
}

div.navbar div.navbar-item.green div.navbar-border {
	background: #87e5a0;
}

div.navbar div.navbar-item.purple svg {
	stroke: #b187e5;
}

div.navbar div.navbar-item.purple div.navbar-border {
	background: #b187e5;
}

div.left-navbar-item {
	transition: .2s;
	opacity: 0;
	display: none;
}

@media screen and (max-width: 780px) {

	div.navbar {
	    height: 5em;
	    width: 100%;
	    flex-direction: row;
	}

	div.left-navbar-items {
		position: relative;
		width: 100%;
		height: 100%;
	}

	div.left-navbar-item {
		width: 90%;
	}

	div.navbar div.navbar-item div.navbar-border {
		bottom: 0;
		width: 100%;
		height: 3px;
	}

	div.navbar div.navbar-item.current div.navbar-border {
		height: 100%;
		opacity: .1;
		border-radius: 3px;
	}
}