<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="opa opa" property="og:title">
	<meta content="/static/assets/trap.jpg" property="og:image">
	<meta content="А че сюда писать" property="og:description">
	<meta name="description" content="А че сюда писать">
	<meta name="theme-color" content="#DB86D3">
	
	<title>Cool title</title>
	
	<link rel="shortcut icon" href="/static/assets/icon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/dots.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/chip.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pages/index.css">

	<script src="https://unpkg.com/feather-icons"></script>
	<script src="/static/js/swipe.js"></script>
	<script src="/static/js/dots.js"></script>
	<script src="/static/js/left-navbar.js"></script>
</head>
<body>
	<noscript class="align-center">
		<div class="ns-dialog">
			<div class="ns-message">Looks like you turn off javascript, go to <a href="/lite">this</a> page</div>
		</div>
	</noscript>
	<main>
		<div class="navbar" id="leftnav">
			<div class="navbar-item">
				<i data-feather="info"></i>
				<div class="navbar-border">
					<span>Каво</span>
				</div>
			</div>
			<div class="navbar-item blue">
				<i data-feather="activity"></i>
				<div class="navbar-border">
					<span>Склад</span>
				</div>
			</div>
			<div class="navbar-item green">
				<i data-feather="music"></i>
				<div class="navbar-border">
					<span>Крутая музыка</span>
				</div>
			</div>
			<div class="navbar-item purple">
				<i data-feather="link"></i>
				<div class="navbar-border">
					<span>Где я</span>
				</div>
			</div>
		</div>

		<div class="left-navbar-items" id="left-nav-items">

			<div class="left-navbar-item vh-center">
				<div class="dot-nav" id="main-info">
					<ul class="dot-nav-content-list">
						
						<li>
							<div class="align-center">
								<div class="icon">
									<i data-feather="dollar-sign"></i>
								</div>
								<div class="info">
									<h1>Bablo</h1>
									<span>0xaf4867d789F736cf7D7812722f85096A80c991Bc</span>
								</div>
							</div>
						</li>
						<li>
							<div class="align-center">
								<div class="icon">
									<i data-feather="info"></i>
								</div>
								<div class="info">
									<h1>Хто я</h1>
									<span>Сижу херню пишу, иногда на си, иногда что-то в вебе</span>
								</div>
							</div>
						</li>
						<li>
							<div class="align-center">
								<div class="icon">
									<i data-feather="heart"></i>
								</div>
								<div class="info">
									<h1>Обожаю</h1>
									<span>{{ ', '.join(love) }}</span>
								</div>
							</div>
						</li>

					</ul>
					<div class="dot-nav-dots"></div>
				</div>
			</div>
		
			<div class="left-navbar-item vh-center">
				
				<div class="align-center">
					<div class="icon">
						<i data-feather="activity"></i>
					</div>
					<div class="info">
						<h1>Мой склад</h1>
						<span>Пока все переезжают на гитлаб, я заполняю мусором гитхаб</span>
						{% for project in projects %}
						<a href="{{ projects[project]}}">{{ project }}</a>
						{% endfor %}
						<span>Надеюсь вскоре тут будет что-нибудь серьезное</span>
					</div>
				</div>

			</div>
			
			<div class="left-navbar-item vh-center">
				
				<div class="align-center">
					<div class="icon">
						<i data-feather="music"></i>
					</div>
					<div class="info">
						<h1>Типичный плейлист трансгендера</h1>
						<div class="info-list">
							{% for author in music %}
							<div class="chip">{{ author }}</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

			<div class="left-navbar-item vh-center">

				<div class="align-center">
					<div class="icon">
						<i data-feather="link"></i>
					</div>
					<div class="info">
						<h1>Где я</h1>
						<span>В основном тусуюсь там:</span>
						{% for contact in contacts %}
						<a href="{{ contacts[contact] }}">{{ contact }}</a>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>

	</main>

	<script>
		feather.replace({
			width: 86,
			height: 86,
			'stroke-width': 1,
		});
		leftNavbar('#leftnav', 0, '#left-nav-items');
		dots('#main-info', 0);

	</script>
</body>
</html>