<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="opa opa" property="og:title">
	<meta content="/static/assets/trap.jpg" property="og:image">
	<meta content="А че сюда писать" property="og:description">
	<meta name="description" content="А че сюда писать">
	<meta name="theme-color" content="#DB86D3">
	
	<title>Cool title</title>
	
	<link rel="shortcut icon" href="/static/assets/icon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/header.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/button.css">
	<link rel="stylesheet" type="text/css" href="/static/css/components/card.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pages/lite.css">
</head>
<body>
	<header>
		<div class="header-container">
			<div class="header-item">
				<img src="/static/assets/kot.png" style="transform: scale(1.5);" />
			</div>
			<div class="header-item">
				<button>bablo</button>
			</div>
		</div>
	</header>
	<main>
		<div class="row split">
			<h1>Здесь должно быть написано что-то крутое, но я еблан</h1>
			<img src="/static/assets/trap.jpg">
		</div>
		<div class="row">
			<span>когда-нибудь я доделаю эту страницу....</span>
		</div>
	</main>
</body>
</html>